<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>194204603188-0g3a29tu9sltsc9m6rdrter8q7b91qp1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.194204603188-0g3a29tu9sltsc9m6rdrter8q7b91qp1</string>
	<key>API_KEY</key>
	<string>AIzaSyAu_uFN4u_X5nCsJJabcd_KkSO0D0L1MBA</string>
	<key>GCM_SENDER_ID</key>
	<string>194204603188</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.coveragecallblocker.mobile.app</string>
	<key>PROJECT_ID</key>
	<string>coverage-call-blocker</string>
	<key>STORAGE_BUCKET</key>
	<string>coverage-call-blocker.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:194204603188:ios:d2a69b88233f2f03414b61</string>
</dict>
</plist>